<div class="columns is-multiline">
  <div class="column is-8 is-offset-2 register special-border mt-6 pt-6">
    <div class="columns">
    <div class="column">
    <h2 class="title is-4 has-text-centered">Edit <%= resource_name.to_s.humanize %></h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="has-text-centered"><%= render "devise/shared/error_messages", resource: resource %></div>

        <p class="title is-6 pb-0 is-hidden"><%= f.label :avatar %></p>

        <div class="columns is-mobile is-centered pt-4">
          <div class="circular--portrait">
          <% if current_user.avatar.attached? %>
            <%= image_tag current_user.avatar %>
          <% else %>
            <%= image_tag('egg.jpg') %>
          <% end %>
          </div>  
        </div>
        <div class="field pt-4">
          <%= f.file_field :avatar %>
        </div>

        <div class="field pt-4">
          <%= f.text_field :username, autofocus: true, class:"input is-medium", placeholder:"Username" %>
        </div>

        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input is-medium", placeholder:"Email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.password_field :password, autocomplete: "new-password", class:"input is-medium", placeholder:"New Password - leave blank if you don't want to change it" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input is-medium", placeholder:"New Password Confirmation" %>
        </div>

        <div class="field">
          <%= f.password_field :current_password, autocomplete: "current-password", class:"input is-medium", placeholder:"Current Password" %>
        </div>

        <div class="actions">
          <%= f.submit "Update", class:"button is-block is-primary is-fullwidth is-medium" %>
        </div>
      <% end %>
      <div class="has-text-centered pt-6 pb-4">
        <h3 class="title is-size-5 m-3 pb-3">Unhappy?</h3>
        <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"button is-danger"%>
        <br>
        <%= link_to "Back", :back %>
      </div>
    </div>
    </div>
  </div>
</div>

