<div class="columns is-multiline">
  <div class="column is-8 is-offset-2 register special-border mt-6 pt-6">
    <div class="columns">
    <div class="column left">
      <h1 class="title is-1">Odinbar</h1>
      <h2 class="subtitle colored is-4">Your social media</h2>
      <p>Best social media of the internet, powered by Ruby and Rails.</p>
    </div>
    <div class="column right has-text-centered">
    <h1 class="title is-4">Welcome</h1>
    <h2 class="description">Sign up</h2>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.text_field :username, autofocus: true, class:"input is-medium", placeholder:"Username" %>
        </div>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input is-medium", placeholder:"Email" %>
        </div>
        <div class="field">
          <%= f.password_field :password, autocomplete: "new-password", class:"input is-medium", placeholder:"Password" %>
        </div>
        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input is-medium", placeholder:"Password Confirmation" %>
        </div>
        <div class="actions mb-3">
          <%= f.submit "Sign up", class:"button is-block is-primary is-fullwidth is-medium" %>
        </div>
      <% end %>
      <div class="pt-0 m-0"></div>
      <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= form_for "Login",
            url: omniauth_authorize_path(resource_name, provider), 
            method: :post,
            data: {turbo: "false"} do |f| %>
              <%= f.submit "Sign up with Google", class:"button is-block is-fullwidth is-medium" %>
          <% end %>
        <% end %>
      <% end %>
      <div class="pt-2 m-0"></div>
      <small><%= render "devise/shared/links" %></small>
    </div>
    </div>
  </div>
  <div class="column is-8 is-offset-2">
    <br>
    <nav class="level">
      <div class="level-right">
        <small class="level-item" style="color: var(--textLight)">
          &copy; Odinbar.
        </small>
        <small class="level-item">
          <a href="https://github.com/egemen-dev" style="color: var(--textLight)"><i class="fab fa-github"></i> egemen-dev</a>
        </small>
      </div>
    </nav>
  </div>
</div>
