<div class="top-line" id=<%="comment_#{comment.id}"%>>
<a href="<%= user_profile_path(comment.user) %>", data-turbo-frame="_top", class="has-text-dark pt-2 pb-1 has-text-weight-bold">
  <%= comment.user.username %>
</a>
  <div class="px-1 py-0 pt-0 mx-0 columns is-justify-content-space-between py-4">
    <div class="has-text-left">
      <p>
        <%= comment.body %>
      </p>
    </div>
      <%= button_to "delete", comment, :method => :delete, id:"#{comment.user.id}", class:"button is-small is-rounded" %>
  </div>
</div>