<div class="container mb-1">
  <div class="card has-text-centered py-6">
    <p class="title is-3 pb-2 has-text-weight-bold"><%= @user.username %></p>
    <p class="subtitle is-6"><%= @user.email %></p>
    <p class="subtitle is-6">Friends: <%= @user.active_friends.count %></p>
  </div>
</div>
<% if @user == current_user %>
  <div class="container columns py-3">
    <div class="column is-4 py-0">
      <a href="<%= users_friends_path %>">
        <div class="box my-1 py-3 has-text-centered">
          <p class="has-text-weight-bold">Friends: <%= @user.active_friends.count %></p>
        </div>
      </a>
    </div>
    <div class="column is-4 py-0">
    <a href="<%= users_sent_requests_path %>">
      <div class="box my-1 py-3 has-text-centered">
        <p class="has-text-weight-bold">Sended Requests: <%= @user.sent_requests.count %></p>
      </div>
    </a>
    </div>
    <div class="column is-4 py-0">
    <a href="<%= users_received_requests_path %>">
      <div class="box my-1 py-3 has-text-centered">
        <p class="has-text-weight-bold">Received Requests: <%= @user.received_requests.count %></p>
      </div>
    </a>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="columns is-mobile is-centered">
    <div class="column is-half">
      <%# Show buttons according to friendship state %>
      <% friendship = current_user.friendship_with(@user) %>
      <% if friendship %>
        <% if current_user.active_friends.include?(@user) %>
          <%= button_to 'Unfriend', {:controller => "friendships", :action => "destroy", id: friendship.id} , :method=>:delete %>
        <% elsif friendship.user == current_user %>
        <%= button_to 'Cancel Request', {:controller => "friendships", :action => "destroy", id: friendship.id} , :method=>:delete %>
        <% elsif friendship.friend == current_user %>
          <%= button_to 'Accept', {:controller => "friendships", :action => "update", :status => true, id: friendship.id}, :method=>:patch %>
          <%= button_to 'Decline', {:controller => "friendships", :action => "destroy", id: friendship.id}, :method=>:delete %>
        <% end %>
      <% elsif @user != current_user %>
        <%= button_to 'Send Request button', {:controller => "friendships", :action => "create", :status => nil, friend_id: @user.id}, :method=>:post %>
      <% end %>
    </div>
  </div>
</div>

  
  