 <% if @post.nil? %>
  <% @post = post %>
 <% end %>
<%= turbo_frame_tag "post_#{@post.id}" do %>
 <div class="columns is-centered">
  <div class="column is-9">
    <div class="card mb-1 px-2 pb-1 special-border">
      <div class="card-content pb-0 px-4">
        <div class="media">
          <div class="media-left">
            <div class="circular--small">
            <% if @post.user.avatar.attached? %>
              <%= image_tag @post.user.avatar %>
            <% else %>
              <%= image_tag('egg.jpg') %>
            <% end %>
            </div>  
          </div>
          <div class="media-content">
            <p class="title is-4">
              <a href="<%= user_profile_path(@post.user) %>", data-turbo-frame="_top", class="has-text-dark">
                <%= @post.user.username %>
              </a>
            </p>
            <p class="subtitle is-6"><%= @post.user.email %></p>
          </div>
        </div>
        <div class="content p-1 m-0">
          <a href='<%= post_path(@post) %>', id='post_link_<%= @post.id %>', data-turbo-frame="_top", class="has-text-dark">
            <%= @post.body %>
          </a>
          <br>
          <div class="columns is-mobile pb-3 px-2">
            <div class="column p-0 m-0">
              <small class="grey-font">
                <time datetime="<%= @post.created_at.strftime("%d/%m/%Y - %k:%M") %>">
                <%= time_ago_in_words(@post.updated_at) %> ago</time>
              </small>
            </div>
            <div class="columns is-mobile is-flex-direction-row-reverse p-0 m-0">
              <%= render partial: "posts/likesandcomments", locals: {post: @post} %>
            </div>
          </div>
        </div>
        <div class="buttons is-flex-direction-row-reverse py-1 top-line">
          <%= render partial: 'posts/likesection', locals: { post: @post } %>
          <button id=<%="comment_button_#{@post.id}"%> class='button is-link is-inverted px-1 comments_toggle'>
            Comment
          </button>
          <% if @post.user == current_user %>
          <div class="dropdown <%="dropdown_#{@post.id}"%>">
              <button class="button is-rounded dropButton <%="dropdown_#{@post.id}"%>" aria-haspopup="true" aria-controls="dropdown-menu">
                More
              </button>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <%= link_to "Edit", edit_post_path(@post),
                  class:'dropdown-item button is-link is-inverted px-1', data: { turbo_frame: '_top' } %>
                <%= button_to 'Delete', {:controller => "posts", :action => "destroy", id: @post.id},
                :method=>:delete, class: 'button is-danger is-inverted px-1 dropdown-item' %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="comments comments_of_<%="#{@post.id}"%> is-hidden">
  <div class="columns is-centered pt-0">
    <div class="column is-9 pt-0 px-6"> 
      <h2 class="has-text-weight-bold">Comments:</h2>
      <%= turbo_stream_from "#{@post.id}" %>
      <div id=<%="#{@post.id}"%>>
        <% @post.comments.each do |comment| %>
          <%= render partial: "posts/comments/comment", locals: { comment: comment } %>
        <% end %>
      </div>
      <%# Comment form %>
      <%= render partial: 'posts/comments/form', locals: {comment: @post.comments.build } %>
    </div>
  </div>
</div>
<% end %>

<%# Empty the instance variable, otherwise partial doesn't work as intended. %>
<% @post = nil %>