<!DOCTYPE html>
<html>
  <head>
    <title>Odinbar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/15181efa86.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <% flash.each do |name, msg| -%>
      <div id="flash-messages">
        <% if name == 'error' %>
          <%= content_tag :div, msg, class: 'notification is-danger my-0' %>
          <% elsif name == 'notice' %>
            <%= content_tag :div, msg, class: 'notification is-success my-0' %>
          <% elsif name == 'alert' %>
            <%= content_tag :div, msg, class: 'notification is-warning my-0' %>
        <% end %>
      </div>
    <% end %>
    
    <%= render "layouts/navbar" %>
    <div class="container">
      <div class="section">
        <%= yield %> 
        <%# <% console %>
      </div>
    </div>
    <%= javascript_include_tag 'application'%>
  </body>
</html>
